/* RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */

html,
body {
    font-family: Poppins, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    background-color: #000119;
    font-family: Arial, Helvetica;
    color: white;
    overflow: hidden;
    overflow-y: hidden;
}

/* LOADER */

.preload {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #000119;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.loader {
    width: 40px;
    height: 40px;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;

    animation: loader 0.8s linear infinite;
}

@keyframes loader {

    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #09f1b8;
        border-left-color: transparent;
    }

    30% {
        border: 4px solid #00a2ff;
        border-left-color: transparent;
    }

    60% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #ff00d2;
        border-left-color: transparent;
    }

    80% {
        border: 4px solid #fed90f;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #09f1b8;
        border-left-color: transparent;

    }

}


/* LINK */

.link {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(60deg, #09f1b8, #00a2ff, #ff00d2, #fed90f);

    text-decoration: none;
    display: inline-block;
    line-height: 1.5em;
    outline: none;

    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);

    position: relative;
    white-space: nowrap;
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(60deg, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.link:hover {
    animation: backgroundAnim 2s ease alternate infinite;
    background-size: 300% 300%;
}

.link:hover::before {
    z-index: -1;
    animation: backgroundAnim 2s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes backgroundAnim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}






/* .link--dotted {
    border-bottom: 2px dotted #fff;
    border-image: linear-gradient(60deg, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    border-image-slice: 1;
}

.link:hover {
    border-image: linear-gradient(60deg, #fed90f, #ff00d2, #00a2ff, #09f1b8);
} */


/* PAGE */

.page {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page .home {
    margin: 0;
    padding: 5vmin;
    text-align: center;
}

.page .home h1 {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, right top, from(#09f1b8), color-stop(#00a2ff), color-stop(#ff00d2), to(#fed90f));
    background-image: -o-linear-gradient(left, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    color: #000119;
    font-size: 15vmin;
    font-weight: 700;
    letter-spacing: calc(1em / 8);
    padding: calc(calc(1em / 16) / 2);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
}

.page .home span {
    /* border-left: 5px solid; */
    margin-left: 0;
    padding: 1rem 0 1rem 2rem;
    font-size: 1rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(60deg, #09f1b8, #00a2ff, #ff00d2, #fed90f);
}

/* JEU */




.container {
    padding: 50px 0 0 0;
    color: #fff;
    position: relative;

    border-radius: 5px;
    margin-top: 20px;

    --borderWidth: 3px;
    position: relative;
    background: #000119;
    border-radius: var(--borderWidth);
}

.container:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background-image: linear-gradient(60deg, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;

    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container .game {
    display: inline-block;
    margin: 0px 20px;
    width: 200px;
    height: 330px;
    position: static
}

.container .game .blockrain-score-holder {
    left: 100%;
    top: -10px;
    right: auto;
    text-align: left;
    margin-left: 55px;
    font-size: 14px;
    color: #fff;
    line-height: 20px
}

.container .game .blockrain-score-holder .blockrain-score-num {
    font-size: 24px;
    font-weight: normal
}

.container .game .blockrain-start,
.container .game .blockrain-game-over {
    top: auto;
    transform: none;
    height: 100%
}

.container .game .blockrain-start-msg,
.container .game .blockrain-game-over-msg {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: -16px;
    width: 100%
}

.container .game .blockrain-game-over-msg {
    top: 50%;
    font-size: 24px;
    margin-top: -24px
}

.container .game .blockrain-start-btn,
.container .game .blockrain-game-over-btn {
    position: absolute;
    left: 100%;
    bottom: 3px;
    border: none;
    background: #fff;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 55px;
    width: 120px;
    padding: 13px 0;
    font-size: 16px
}

.container .game .blockrain-start-btn:before,
.container .game .blockrain-start-btn:after,
.container .game .blockrain-game-over-btn:before,
.container .game .blockrain-game-over-btn:after {
    display: none
}

.container .theme {
    position: absolute;
    top: 36px;
    left: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: left
}

.container .theme select {
    display: block;
    font-size: 24px;
    font-weight: normal;

    cursor: pointer;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    color: #000;
    transition: all 0.3s ease;
    font-weight: 500;
    outline: none;

}



.container .instructions {
    position: absolute;
    bottom: 10px;
    left: 20px;
    overflow: hidden;
    font-size: 14px
}

.container .instructions .key {
    border: 1px solid #fff;
    display: block;
    width: 38px;
    height: 38px;
    float: left;
    position: relative
}

.container .instructions .key:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -7px;
    background: url(http://aerolab.github.io/blockrain.js/assets/images/icon-sprite.png) no-repeat;
    background-position: -84px 0;
    background-size: auto 100%
}

.container .instructions .key.key-up {
    float: none;
    margin-left: 39px;
    border-bottom: none;
    margin-top: 20px
}

.container .instructions .key.key-up:before {
    background-position: -42px 0
}

.container .instructions .key.key-left:before {
    background-position: -56px 0
}

.container .instructions .key.key-down {
    border-left: none;
    border-right: none
}

.container .instructions .key.key-down:before {
    background-position: -70px 0
}


/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 48px
}

.footer__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 640px
}

.footer__copyright {
    margin-bottom: 24px;
    font-size: 1.3em;
    font-weight: 300
}

.footer__copyright .love {
    display: inline-block;
    position: relative;
    top: 0.05em;
    font-size: 1.2em;
    color: rgb(255, 121, 198);
    transform: scale(.9);
    animation: love .5s linear infinite alternate-reverse;
}

@keyframes love {
    to {
        transform: scale(1.1);
    }
}


.footer__link {
    margin-right: 8px;
    margin-bottom: 6px;
    display: inline-block
}

.footer__link:last-child {
    margin-right: 0
}

.my-content {
    font-size: .875em;
    line-height: 1.5em
}

.my-content p {
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0
}